# Ignore build artifacts from the local tests sub-crate.
target/

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock
**/Cargo.lock
*.iml
src/erc20/target
test/node_modules
src/erc20/node_modules
test/yarn.lock
src/erc20/yarn.lock
node_modules
package-lock.json
yarn.lock
yarn-error.log
